{% extends "base_generic.html" %}
{%load static%}
{% block content %}
<body>
  <br><br>
  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="testbox">
        <br>
        <h1>Registrar Cliente</h1>
        <form>
          <a>Rut:  <input type="text" name="rut"  placeholder="12345678" required></a>
          <a>- <input type="text" name="rut"  placeholder="9" required></a>
          <br><br>
          <a>Nombre:      <input type="text" name="nombre"  required></a>
          <a>Apellido: <input type="text" name="apellido_p"   required></a>
          <br><br>
          <a>Dirección: <input type="text" name="direccion" required></a>
          <a>telefono: <input type="text" name="telefono" required></a>
          <br><br>
          <a>Región:  <input type="text" name="region" required></a>
          <a>Ciudad: <input type="text" name="ciudad" required></a>
          <a>Comuna: <input type="text" name="comuna" required></a>
          <br><br>
          <a>Usuario: <input type="text" name="user" required></a>
          <a>Contraseña: <input type="password" name="contraseña" required></a>
          <br><br>
          <button type="submit" class="btn btn-primary mx-auto">Registrar</button>
        </form>
      </div>
  </div>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
{% endblock %}
